.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  

  .registrationLink {
    text-decoration: none;
    color: #3498db; 
    margin-right: 20px;
  }
  

  .btnNav {
    text-decoration: none;
    color: #2ecc71; 
    padding: 10px 20px;
    border: 2px solid #2ecc71; 
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s; 
  }
  

  .btnNav:hover {
    background-color: #2ecc71;
    color: #fff;
  }
  
  :global .Layout_btnNav__MeRDh.active {
    background-color: black;
    color: white;
  }